.cardContainer {
	margin: 20px 40px;
}

.projectCover {
	width: 100%;
	cursor: pointer;
}

.bulletPoint {
	margin: 10px 0;
}

.showcaseImage {
	width: 300px;
	height: 200px;
}

.cardBody {
	font-size: 18px;
	padding-top: 20px;
}
